.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 2rem;
  margin-top: 64px; /* Equal to navbar height */
  background-color: #f8fafc;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }
}